fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
email-validator
requests
pytest
pytest-asyncio
httpx
faker
